<p-scrollPanel [style]="{width: '100%', height: '450px'}">
    <div class="col-md-12 p-0">
        <p-panel header="Cosmetics Regulatory Information" [toggleable]="true">
            <table class="table" width="100%">
                <tbody>
                    <tr>
                        <td class="width15 font500"><label>Regulatory Status</label></td>
                        <td class="width70"><span>{{countryRegulations.regulatoryStatus}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="width15 font500">
                            <label>Regulatory Description</label>
                        </td>
                        <td class="width70">
                            <span>{{countryRegulations.regulatoryDescription}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="width15 font500">
                            <label>Labeling Requirement</label>
                        </td>
                        <td class="width70"><span>{{countryRegulations.labelingRequirement}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="width15 font500">
                            <label>Reference</label>
                        </td>
                        <td class="width70"><span>{{countryRegulations.referenceLinks}}</span></td>
                    </tr>
                    <tr>
                        <td class="width15 font500">
                            <label>Last Reviewed/Updated</label>
                        </td>
                        <td class="width70"><span></span></td>
                    </tr>
                </tbody>
            </table>
        </p-panel>
        <p-panel *ngIf="isChemRegData" header="Chemical Regulatory Information" [toggleable]="true">
            <table class="table" width="100%">
                <tbody>
                    <tr>
                        <td class="width15 font500">
                            <label>Country </label>
                        </td>
                        <td class="width70">
                            {{chemRegData.country}}<span></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="width15 font500"><label>Region </label></td>
                        <td class="width70">
                            {{chemRegData.region}}
                        </td>
                    </tr>
                    <tr>
                        <td class="width15 font500"><label>Ingredient Name</label></td>
                        <td class="width70">
                            <span> {{chemRegData.ingredientName}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="width15 font500"><label>Classification</label></td>
                        <td class="width70">
                            <span> {{chemRegData.classification}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="width15 font500">
                            <label>Restrictions</label>
                        </td>
                        <td class="width70">
                            <span> {{chemRegData.restrictions}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="width15 font500">
                            <label>Restrictions Description</label>
                        </td>
                        <td class="width70">
                            <span> {{chemRegData.restrictionsDescription}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="width15 font500">
                            <label>Regulatory Status</label>
                        </td>
                        <td class="width70">
                            <span> {{chemRegData.restrictions}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </p-panel>
        <p-accordion>
            <p-panel header="Ingredient Specific Information" [toggleable]="true">
                <table class="table" width="100%">
                    <tbody>
                        <tr>
                            <td class="width15 font500"><label>Safety Considerations</label></td>
                            <td class="width70">
                                <span>{{ingredientsRegulationobj.safetyConsiderations}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="width15 font500"><label>Weight of Evidence</label></td>
                            <td class="width70">
                                <span>{{ingredientsRegulationobj.weightOfEvidence}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="width15 font500">
                                <label>Chemical Inventory Data</label>
                            </td>
                            <td class="width70">
                                <span>{{ingredientsRegulationobj.chemicalInventoryData}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="width15 font500">
                                <label>Supporting Regulatory Information</label>
                            </td>
                            <td class="width70">
                                <span>{{ingredientsRegulationobj.otherRegulatoryInformation}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="width15 font500">
                                <label>Scientific Opinion</label>
                            </td>
                            <td class="width70">
                                <span>{{ingredientsRegulationobj.scientificOpinion}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="width15 font500">
                                <label>Literature and Social Media </label>
                            </td>
                            <td class="width70">
                                {{ingredientsRegulationobj.literatureSocialMedia}}<span></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="width15 font500"><label>EU INCI Name </label></td>
                            <td class="width70">
                                <!-- <span *ngFor="let item of ingredientsRegulationobj.euInciNames;">
                                    {{item.euInciName}}
                                </span> -->
                            </td>
                        </tr>
                        <tr>
                            <td class="width15 font500">
                                <label>US INCI Name </label>
                            </td>
                            <td class="width70">
                                <!-- <span *ngFor="let item of ingredientsRegulationobj.euInciNames;">
                                    {{item.euInciName}}
                                </span> -->
                            </td>
                        </tr>
                        <tr>
                            <td class="width15 font500">
                                <label>Japanese Name</label>
                            </td>
                            <td class="width70">
                                <!-- <span *ngFor="let item of ingredientsRegulationobj.euInciNames;">
                                    {{item.euInciName}}
                                </span> -->
                            </td>
                        </tr>
                        <tr>
                            <td class="width15 font500">
                                <label>Chinese Name</label>
                            </td>
                            <td class="width70">
                                <!-- <span *ngFor="let item of ingredientsRegulationobj.chineseNames;">
                                    {{item.chineseName}}
                                </span> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </p-panel>
        </p-accordion>
    </div>
</p-scrollPanel>