.p-scrollpanel-content {
    height: calc(100% + 0px) !important;
    width: calc(100% + 16px) !important;
    padding: 0 18px 18px 0;
    position: relative;
    overflow: auto;
    box-sizing: border-box;
  }