.p-sidebar-left1 {
    top: 50px !important;
    right: 0 !important;
    width: 25rem !important;
    height: 92% !important;
}
.p-sidebar .p-sidebar-header {
  padding: 1.25rem;
  font-weight: 600 !important;
  background-image: linear-gradient(to right, rgba(177, 154, 143, 0.23), white);
  font-size: 16px;
}
.p-sidebar .p-sidebar-content {
  padding: 0px !important;
}