<div class="modal-body modal-body modal-sm-login ">
    <button type="button" class="close" (click)="activeModal.dismiss('Cross click')">&times;</button>
    <div class="row m-0 p-20">
        <div class="col-md-12 text-center text-white">
            <h4 class="m-t-10 login-head">Please select the category</h4>
        </div>
        <div class="col-md-6 text-center m-t-40 m-b-40 fronticon-back1">
            <a href="javascript:void(0)" (click)="navigateToComponent('Food')">
                <div class="fronticon-back">
                    <img class="m-t-20 food-icon" src="../../../assets/img/food-icon2.svg" width="60">
                    <p class="m-t-20 text-white">Food</p>
                </div>
            </a>
        </div>
        <div class="col-md-6 text-center m-t-40 m-b-40 fronticon-back1">
            <a href="javascript:void(0)" (click)="navigateToComponent('Cosmetics')">
                <div class="fronticon-back">
                    <img class="m-t-20 cosmetic-icon" src="../../../assets/img/cosmetics.svg" width="60">
                    <p class="m-t-20 text-white">Cosmetics</p>
                </div>
            </a>
        </div>
    </div>
</div>