<div class="header" [hidden]="!showHeader">
  <nav class="navbar">
    <div class="sidebar-header">
      <img src="../../../assets/img/logo-c.png" width="130" style="margin-left: 6px;">
    </div>
    <a class="navbar-brand">
      <span class="title"> {{showHeaderTitle}} </span>
    </a>
    <ul class="nav pull-right">
      <!-- <ul class="menu">
          <li class="dropdown dropdown-2">
         <i class="icon-cog"></i>
           <ul class="dropdown_menu dropdown_menu-2 theming-options">
              <li class="dropdown_item-1"><div data-theme="light" (click)="setTheme('light')" class="switch" id="switch-1">Default</div> </li>
              <li class="dropdown_item-2"><div data-theme="green" (click)="setTheme('green')" class="switch" id="switch-2">Green</div> </li> 
              <li class="dropdown_item-3"><div data-theme="blue" (click)="setTheme('blue')" class="switch" id="switch-3">Blue</div> </li>
             <li class="dropdown_item-4"><div data-theme="dark" (click)="setTheme('dark')" class="switch" id="switch-4">Dark</div> </li> 
               <li class="dropdown_item-5">Item 5</li> 
           </ul>
         </li>
       </ul>  -->
      <div class="dropdown">
        <button class="btn bell_icon dark-grey" type="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i class="icon-cog"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right custom-dd">
          <a data-theme="light" (click)="setTheme('light')" class="switch" id="switch-1"
            class="dropdown-item">Default</a>
          <a data-theme="green" (click)="setTheme('green')" class="switch" id="switch-2" class="dropdown-item">
            Green </a>
          <a data-theme="blue" (click)="setTheme('blue')" class="switch" id="switch-3" class="dropdown-item"> Blue
          </a>
          <a data-theme="dark" (click)="setTheme('dark')" class="switch" id="switch-4" class="dropdown-item"> Dark
          </a>
        </div>
      </div>
      <div class="dropdown profil_section">
        <button class="btn dropdown-toggle dark-grey" type="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="true">
          <i class="fa fa-user-o"></i> <span class="user_name"> test</span>
        </button>
        <div class="dropdown-menu dropdown-menu-right custom-dd">
          <a class="dropdown-item" href="javascript:Void(0);" (click)="OpenProfile()"> <i class="fa fa-user-o"></i>
            Profile</a>
          <a class="dropdown-item" href="javascript:Void(0);" (click)="ChangePwd()"> <i class="fa fa-lock"></i>
            Change Password</a>
          <a class="dropdown-item" href="javascript:Void(0);" (click)="Logout()"> <i class="fa fa-sign-out"></i>
            Logout</a>
        </div>
      </div>
    </ul>
  </nav>
  <!-- <i class="fa fa-bars menu-arrow menuSticky"></i>  -->
</div>
<div class="main-content">
  <div [hidden]="!showHeaderMenu">
    <div class="sidebar" [hidden]="!showHeader">
      <ul class="sidebar-menu">
        <span class="sidebar-icon1"> <i class="fa fa-angle-double-right menu-arrow menuSticky"></i> </span>
        <li><p-panelMenu [model]="items" [style]="{'width':'258px'}" [multiple]="false"
            autoDisplay="true"></p-panelMenu></li>
      </ul>
    </div>
  </div>
  <div [hidden]="showHeaderMenu">
    <div class="sidebar" [hidden]="!showHeader">
      <!-- <div class="sidebar-header">
          <img src="../../../assets/img/logo-c.png" width="150" style="margin-left: 15px;">
        </div> -->
      <ul class="sidebar-menu">
        <span class="sidebar-icon1"> <i class="fa fa-angle-double-right menu-arrow menuSticky"></i> </span>
        <li>
          <a [class]="this.currentUrlName === 'food/dashboard' ?  'active': ''"
            (click)="navigateToComponent('food/dashboard')" routerLink="food/dashboard">
            <i class="flaticon-pie-chart sidebar-icon"></i>
            <span class="sidebar-label">Dashboard</span>
          </a>
        </li>
        <li>
          <a [class]="this.currentUrlName === 'food/ingredientsregulations' ?  'active': ''"
            (click)="navigateToComponent('food/ingredientsregulations')" routerLink="food/ingredientsregulations">
            <i class="flaticon-cell sidebar-icon"></i>
            <span class="sidebar-label">Ingredients Regulations</span>
          </a>
        </li>
        <li>
          <a routerLink="food/recentupdates" [class]="this.currentUrlName === 'food/recentupdates' ?  'active': ''"
            (click)="navigateToComponent('food/recentupdates')" routerLink="food/recentupdates">
            <i class="flaticon-test-tube sidebar-icon"></i>
            <span class="sidebar-label">Recent Updates</span>
          </a>
        </li>
        <li>
          <a routerLink="food/formulacompliance"
            [class]="this.currentUrlName === 'food/formulacompliance' ?  'active': ''"
            (click)="navigateToComponent('food/formulacompliance')" routerLink="food/formulacompliance">
            <i class="flaticon-binder sidebar-icon"></i>
            <span class="sidebar-label">Formulae Compliance</span>
          </a>
        </li>
        <!-- <a routerLinkActive="active"
                [class]="this.currentUrlName === 'cosmetics/formulacompliance' ?  'active': ''
                 || this.currentUrlName === 'cosmetics/formulacompliance' ?  'active': '' || this.currentUrlName === 'FormulaeCompliance/SampleFormulae' ?  'active': '' || this.currentUrlName === 'FormulaeCompliance/ListCheck' ?  'active': '' || this.currentUrlName === 'FormulaeCompliance/Import' ?  'active': '' || this.currentUrlName === 'FormulaeCompliance/CustomIngredients' ?  'active': ''"
                 > -->
        <!-- <li class="sidebar-collapse arrow" >
            <div class="icon-link">
            
                 <a routerLinkActive="active"
                [class]="this.currentUrlName === 'cosmetics/formulacompliance' ?  'active': '' "
                 >
                <i class="flaticon-binder sidebar-icon"></i>
                <span class="sidebar-label">Formulae Compliance</span>
                <i class="fa fa-angle-right sub-menu-arrow-rotate" aria-hidden="true"></i>
              </a>
            </div>
            <ul class="sub-menu">
              <li><a routerLinkActive="active" routerLink="/cosmetics/formulacompliance"> Formulae </a></li>
              <li><a routerLinkActive="active" routerLink="/FormulaeCompliance/SampleFormulae"> Sample Formulae </a></li>
              <li><a routerLinkActive="active" routerLink="/FormulaeCompliance/ListCheck"> List Check </a></li>
              <li><a routerLinkActive="active" routerLink="/FormulaeCompliance/Import"> Import </a></li>
              <li><a routerLinkActive="active" routerLink="/FormulaeCompliance/CustomIngredients">Custom Ingredients</a></li>
            </ul>
          </li> -->
        <!-- <li class="sidebar-collapse arrow" >
            <div class="icon-link">
              <a routerLinkActive="active"
                [class]="this.currentUrlName === 'Manage' ?  'active': '' || this.currentUrlName === 'Manage/Regulations' ?  'active': '' || 
                this.currentUrlName === 'Manage/Countries' ?  'active': '' || this.currentUrlName === 'Manage/ImportExportData' ?  'active': '' ||
                this.currentUrlName === 'Manage/RegulationsMetadata' ?  'active': '' || this.currentUrlName === 'Manage/Insights' ?  'active': '' ||
                this.currentUrlName === 'Manage/FlagEmails' ?  'active': '' || this.currentUrlName === 'Manage/FlagData' ?  'active': ''||
                this.currentUrlName === 'Manage/CombinationLimit' ?  'active': '' || this.currentUrlName === 'Manage/StandardRules' ?  'active': ''||
                this.currentUrlName === 'Manage/CustomRules' ?  'active': ''  ">
                <i class="flaticon-account sidebar-icon"></i>
                <span class="sidebar-label">Manage</span>
                <i class="fa fa-angle-right sub-menu-arrow-rotate" aria-hidden="true"></i>
              </a>
            </div>
            <ul class="sub-menu">
              <li><a routerLinkActive="active" routerLink="/Manage/Regulations"> Regulations </a></li>
              <li><a routerLinkActive="active" routerLink="/Manage/Countries">Countries </a></li>
              <li><a routerLinkActive="active" routerLink="/Manage/ImportExportData"> Import/Export Data</a></li>
              <li><a routerLinkActive="active" routerLink="/Manage/RegulationsMetadata"> Regulations Metadata </a></li>
              <li><a routerLinkActive="active" routerLink="/Manage/Insights">Insights</a></li>
              <li><a routerLinkActive="active" routerLink="/Manage/FlagEmails"> Flag Emails </a></li>
              <li><a routerLinkActive="active" routerLink="/Manage/FlagData">Flag Data </a></li>
              <li><a routerLinkActive="active" routerLink="/Manage/CombinationLimit"> Combination Limit</a></li>
              <li><a routerLinkActive="active" routerLink="/Manage/StandardRules"> Standard Rules </a></li>
              <li><a routerLinkActive="active" routerLink="/Manage/CustomRules">Custom Rules</a></li>
            </ul>
          </li>
          <li class="sidebar-collapse arrow" >
            <div class="icon-link">
              <a routerLinkActive="active"
                [class]="this.currentUrlName === 'Administration' ?  'active': '' || this.currentUrlName === 'Administration/Users' ?  'active': '' || this.currentUrlName === 'Administration/Companies' ?  'active': ''">
                <i class="flaticon-settings sidebar-icon"></i>
                <span class="sidebar-label">Admin</span>
                <i class="fa fa-angle-right sub-menu-arrow-rotate" aria-hidden="true"></i>
              </a>
            </div>
            <ul class="sub-menu">
              <li><a routerLinkActive="active" routerLink="/Administration/Users"> Users </a></li>
              <li><a routerLinkActive="active" routerLink="/Administration/Companies">Companies </a></li>
            </ul>
          </li> -->
      </ul>
    </div>
  </div>
  <section class="page-content-wrapper">
    <main class="inner-body">
      <router-outlet></router-outlet>
    </main>
    
  </section>

</div>
<!-- The Modal -->
<div *ngIf="loader" class="k-loading-mask k-i-loading"></div>