// .p-component, .p-component * {
//     box-sizing: content-box !important;
// }
.jvectormap-container {
    background-color: #fff !important;
}
.jvectormap-zoomin, .jvectormap-zoomout {
    position: absolute;
    top: 100%;
    margin-top: -25px;
    border-radius: 2px;
    background: #d2d6de;
    padding: 0px;
    color: #444;
    cursor: pointer;
    line-height: 13px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    width: 15px;
    height: 15px;
}

.jvectormap-zoomin {
    left: 100%;
    margin-left: -50px;
}
.jvectormap-zoomout {
    left: 100%;
    margin-left: -30px;
}


.jvectormap-tip {
    position: fixed\0;
    position: absolute;
    display: none;
    border: solid 1px #CDCDCD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    /* background: #6E7072; */
    background: #ffffff !important;
    color: #5865ff;
    font-family: sans-serif, Verdana;
    font-size: smaller;
    padding: 10px;
    cursor: pointer;
    margin-top: 300px\0;
    font-size: 14px;
    font-weight: 500;
    max-width: 400px;
    margin-top: -20px;
}

    .jvectormap-tip font {
        font-size: 13px;
        line-height: 18px;
        display: inline-block;
        margin-top: 2px;
        font-weight: 400;
    }

        .jvectormap-tip font b {
            margin-top: 4px;
            display: inline-block;
        }

        .RegCountBtn {
            border-radius: 3px;
            color: #ffffff !important;
            background: #0071a4;
            font-size: 11px !important;
        }        


        .customChart-dylegends {
            margin-top: 100px !important;
            padding-left: 35px;
        }
        .chart-dylegends > span {
            float: left;
            clear: left;
            margin-bottom: 10px;
            line-height: 12px;
            font-size:12px;
            font-family: Roboto !important;
            margin-left: -8px;
        }
        .legendbox {
            width: 10px;
            float: left;
            height: 10px;
            margin: 0 8px;
        }