.w-25 {
    width: 25% !important;
  }
  
  .w-50 {
    width: 50% !important;
  }
  
  .w-75 {
    width: 75% !important;
  }
  
  .w-100 {
    width: 100% !important;
  }
  
  .w-auto {
    width: auto !important;
  }
  
.h-25 {
    height: 25% !important;
  }
  
  .h-50 {
    height: 50% !important;
  }
  
  .h-75 {
    height: 75% !important;
  }
  
  .h-100 {
    height: 100% !important;
  }
  
  .h-auto {
    height: auto !important;
  }
  
  .mw-100 {
    max-width: 100% !important;
  }
  
  .mh-100 {
    max-height: 100% !important;
  }
  
  .min-vw-100 {
    min-width: 100vw !important;
  }
  
  .min-vh-100 {
    min-height: 100vh !important;
  }
  
  .vw-100 {
    width: 100vw !important;
  }
  
  .vh-100 {
    height: 100vh !important;
  }
  


  .width10 {
    width: 10% !important;
  }
  
  .width15 {
    width: 15% !important;
  }
  
  .width20 {
    width: 20% !important;
  }
  
  .width25 {
    width: 25% !important;
  }
  
  .width30 {
    width: 30% !important;
  }
  
  .width35 {
    width: 35% !important;
  }
  
  .width40 {
    width: 40% !important;
  }
  
  .width45 {
    width: 45% !important;
  }
  
  .width50 {
    width: 50% !important;
  }
  
  .width55 {
    width: 55% !important;
  }
  
  .width60 {
    width: 60% !important;
  }
  
  .width65 {
    width: 65% !important;
  }
  
  .width70 {
    width: 70% !important;
  }
  
  .width75 {
    width: 75% !important;
  }
  
  .width80 {
    width: 80% !important;
  }
  
  .width85 {
    width: 85% !important;
  }
  
  .width90 {
    width: 90% !important;
  }
  
  .width95 {
    width: 95% !important;
  }
  
  .width100 {
    width: 100% !important;
  }